body {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    text-align: center;
    min-width: 400px;
    min-height: 700px;
    margin: 100px;
}

p {
    margin: 5px;
    align-self: center;
    justify-content: center;
    max-width: 300px;
}

.title {
    font-weight: 600;
}